@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body{
    font-family: 'Questrial', sans-serif;
    font-size: 18px;
    font-weight: 500px;
    color:#333333;
}

h1,h2 {
    font-weight: 600;
    line-height: 1.5;
    font-size: 35px;
}

h3 {
    font-weight: 800;
    line-height: 1.5;
    color: #6f4e37
}



.hero-kv{
    position: relative;
}

.hero-cta{
    background: rgb(0,0,0,0.5);
    color: #fafafa;
    position: absolute;
    top: 0;
    padding-top: 10%;
    width:100%;
    height:100%;
}

section {
    padding: 80px 50px;
    margin: 15px 7px;
}

.hero-section {
    text-align: center;
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    margin: 0;
}

.products-offered{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-article {
    width: 30%;
    border-radius: 10px;
    box-shadow: #333333;
    padding: 50px;
    text-align: center;
    margin:15px;
    border: #dadada solid 2px;
    border-top:brown solid 3px;
}

.cta-button {
    background-color: #6f4e37;
    color: #fafafa;
    margin-top: 10px;
}

.container-fluid {
    padding: 30px 30px;
    margin: 7px 7px;
}

.spacer {
    padding-top: 10%;
    padding-right: 80px;
}

.coffee-section {
   display:flex;
   height: 100%;
}

.full-img {
    background-image: url("../asset/img/coffee-and-waffle.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 800px;
}


.coffee-article {
    width: 50%;
    padding-right: 80px;
}


.spacing {
    margin-left: 5px;
    margin-right: 5px;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.coffee-img {
    width: 100%;
    height: 300px;
    background-size: contain;
    margin: 0 5px;
}

.color-brown {
    color:#6f4e37;
}

.bgcolor-brown {
    background-color:#e6a062;
}

.footer-cta {
    color:#fafafa;
    background-color:#6f4e37;
    text-align: center;
    margin: 0;
}

footer{
    clear: both;
    padding: 15px 50px;
    background-color: #fca465e8;
    color:white;
    text-align: center;
}

.socials {
    margin: 5px;
}

.sample-bg {
   background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*MENU*/
.menu-container {
    margin-top: 15px;
}

.coffee-flex {
    padding: 30px;
    text-align: center;
    background-color: #e74c3c;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.coffee-flex:nth-child(odd){
    background: #eebf97;
}

.coffee-flex:nth-child(even){
    background: #e6a062;
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #502c0d;
    color: white;
    position:absolute;
    top:0;
    display: flex;
    align-items: center;
    padding: 20px;
    visibility: hidden;
    transition: 0.3s;
}

.coffee-flex:hover .overlay {
    visibility: visible;
    transition: 0.5s;
}

/*CONTACT US PAGE CSS*/
#map {
    height: 400px;
    width: 100%;

}

.contact-div {
    padding: 80px 30px;
}

.copy-contact-form {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ctc-info {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    padding-top: 30px;
    background: #f6f6f6;
}

.ctc-info-title {
    font-weight: 1000;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
}

.ctc-info-desc {
    color: #969696;
    font-size: 16px;
}
 
.icon {
   text-align: center;
   flex: 1;
}

i {
    margin-bottom: 15px;
}


.form-section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-control.success  {
    color: #2ecc71;
	visibility: visible;
}

.form-control.error  {
	color: #e74c3c;
	visibility: visible;
}

.form-control small {
	color: #e74c3c;
	visibility: hidden;
}

.form-control.error small {
	visibility: visible;
}

.contact-us-hero {
    position: relative;
}

.contact-us-cta {
    position: absolute;
    background: rgb(0,0,0,0.5);
    color: white;
    top: 0;
    width: 98%;
    height:300px;
    text-align: center;
    padding-top: 120px;
}

@media screen and (min-width: 570px) {
    .contact-us-form {
      margin-top: 30px;
  }
}

.bg-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}



@media screen and (min-width: 990px) {
    .all-day-breakfast {
      text-align: left;
  }
}