@import url('https://fonts.googleapis.com/css2?family=League+Spartan&display=swap');

body{
    font-family: 'League Spartan', sans-serif;
    font-size: 20px;
    font-weight: 500px;
    color:#333333;
}

.hero-kv{
    position: relative;
}

.hero-cta{
    background: rgb(0,0,0,0.5);
    color: #fafafa;
    position: absolute;
    top: 0;
    padding-top: 85px;
    padding-bottom: 85px;
    width:100%;
    height:100%;
}


.products-offered{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.product-article {
    width: 30%;
    border-radius: 10px;
    box-shadow: #333333;
    padding: 50px;
    text-align: center;
    margin:15px;
    border: #dadada solid 2px;
    border-top:brown solid 3px;
}

i {
    color: #6f4e37;
    padding-bottom: 30px;
}

.coffee-article{
    background-image: url("../asset/img/coffee-arabica.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: cover;
    color: #fafafa;
    text-align: center;
    padding: 80px 50px;
    height: 80%;
}
